@import 'variables';
@import 'global/body';
@import 'global/header';

section.spotlight {
  background: url('/img/home/spotlight.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  margin: 0 0 30px;

  h4 {
    color: white;
    padding: 200px 0 0;
    text-align: center;
    font: 400 38px/1.5 $font-serif;
  }
}

.about-area {
  padding: 40px 0;

  p {
    text-align: center;
    font: 400 20px/1.5 $font-serif;
    color: #555;
    max-width: 500px;
    margin: 0 auto;
  }
}
