// Fonts
$font-sans: 'Open Sans', sans-serif;
$font-family-sans-serif: $font-sans;
$font-serif: 'Vollkorn', serif;
$font-family-serif: $font-serif;

// Colors
$brand-primary: #00B4FF;
$brand-grey: #515151;
$brand-faint-grey: #EEEEEE;
