<header class="global-header">
  <div class="container">
    <div class="col-sm-6 col-md-4">
      <a ui-sref="index">
        <img src="/img/header/logo.png" width="180" height="40">
      </a>
    </div>

    <div class="col-sm-6 col-md-8">
      <nav>
        <ul>
          <li>
            <a href="#">Shop</a>
          </li>

          <li>
            <a href="#">Directory</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
